/* *{ */
/* all: unset; */
/* } */

* {
  font-family: FantasqueSansM Nerd Font;
}

$barBackground: #11111b;
$background: #11111b;
$background-light: #262636;
$teal: #94e2d5;
$magenta: #cba6f7;
$red: #f38ba8;
$blue: #89b4fa;
$green: #a6e3a1;
$yellow: #f9e2af;
$white: #cdd6f4;

.bar0,
.bar1 {
  all: unset;
  background-color: $barBackground;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  border: .05rem solid $blue;
}

tooltip {
  all: unset;
  background-color: $background;
  color: $white;
  border-radius: 5px;
}

.leftSB {
  all: unset;
  padding-left: 2px;
}

.menuBtn {
  all: unset;
  background-color: $background;
  color: $blue;
  font-size: 1.2rem;
  padding: 0 1.1rem 0 .5rem;
  border-radius: 5px;
}

.btn-rofi {
  all: unset;
  background-color: $background;
  color: $teal;
  font-size: 1.2rem;
  padding: 0 .9rem 0 .7rem;
  border-radius: 5px;
}

.btn-bar1 {
  all: unset;
  background-color: $background;
  color: $green;
  font-size: 1.2rem;
  padding: 0 1.2rem 0 .7rem;
  border-radius: 5px;
}

.btn-dashboard {
  all: unset;
  background-color: $background;
  color: $yellow;
  font-size: 1.2rem;
  padding: 0 1rem 0 .7rem;
  border-radius: 5px;
}

.btn-db-close {
  all: unset;
  background-color: $background;
  color: $red;
  font-size: 1.2rem;
  padding: 0 .9rem 0 .7rem;
  border-radius: 5px;
}

.date,
.time {
  all: unset;
  background-color: $background;
  color: $magenta;
  padding: 0 1rem;
  border-radius: 5px;
}

.time {
  color: $teal;
}

.rightSB {
  all: unset;
  padding-right: 2px;
}

.btn-brgt {
  all: unset;
  background-color: $background;
  color: $blue;
  padding: 0 1.5rem 0 1rem;
  border-radius: 5px;
}

.btn-vol {
  all: unset;
  background-color: $background;
  color: $green;
  padding: 0 1.5rem 0 1rem;
  border-radius: 5px;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: .3rem 0 .3rem 0;
}

.brightbar {
  background-color: $background;
  color: $blue;
  padding: 0 1rem;
  border-radius: 5px;
}

.volbar {
  background-color: $background;
  color: $blue;
  padding: 0 1rem;
  border-radius: 5px;
}

.brightbar trough highlight {
  background-color: $blue;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

.battery {
  all: unset;
  background-color: $background;
  color: $yellow;
  font-size: 1.2rem;
  padding: 0 1.5rem 0 1rem;
  border-radius: 5px;
}

.systray {
  background-color: $background;
  padding: 0 1rem;
  border-radius: 5px;
}

.btn-hypres,
.btn-hyprsuspend,
.btn-hyplgout,
.btn-hyproff {
  all: unset;
  background-color: $background;
  padding: 0 1rem 0 .6rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn-hypres {
  color: $green;
}

.btn-hyprsuspend {
  color: $blue;
}

.btn-hyplgout {
  color: $magenta;
}

.btn-hyproff {
  color: $red;
}
