window {
    background-color: rgba (19, 16, 32, 0.92);
    color: #eeeeee;
    border-radius: 5px;
}

list {
    background: none;
    border-radius: 15px
}

entry {
    background-color: rgba (0, 0, 0, 0.2)
}

button {
    background: none;
    border: none
}

button:hover {
    background-color: rgba (36, 39, 58, 0.1);
    color: #c29df1
}
