* {
    main-bg             :       #1e1e2e;
    main-fg             :       #cdd6f4;
    main-br             :       #89b4fa;
    select-bg           :       #45475a;
    select-fg           :       #89b4fa;
    separatorcolor      :       transparent;
    border-color        :       transparent;
}
