[mgr]
ratio = [1, 4, 3]
sort_by = "alphabetical"
sort_sensitive = true
sort_dir_first = true
linemode = "mtime"
show_hidden = false
show_symlink = true

[preview]
max_width = 800
max_height = 500

[opener]
edit = [
	{ run = 'nvim "$@"', block = true },
]
extractzip = [
	{ run = 'unzip "$1" -d "$(basename -s .zip "$1")"', desc = "Extract here", for = "unix" },
]

[open]
prepend_rules = [
    { name = "*.zip", use = "extractzip" }
]
