/*
    main-bg             :       #1e1e2e;
    main-fg             :       #cdd6f4;
    main-br             :       #b4befe;
    select-bg           :       #45475a;
    select-fg           :       #89b4fa;
    purple-color        :       #cba6f7;
*/

* {
	background-image: none;
}

window {
	background-color: rgba(12, 12, 12, 0.75);
}
button {
    font-family: "FantasqueSansM Nerd Font";
    font-size: 20px;
    color: #ffffff;
	background-color: #1e1e2e;
	border-style: solid;
	border-width: 2px;
    border-radius: 25%;
    border-color: #cba6f7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    margin: 50px;
}

button:focus, button:active, button:hover {
	background-color: #cba6f7;
	outline-style: none;
    border-color: #1e1e2e;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
