* {
    background-image: none;
    box-shadow: none;
}

window {
    /* Editor Background (Night) with slight opacity */
    background-color: rgba(26, 27, 38, 0.90);
}

button {
    border-radius: 0;
    border-color: #7AA2F7;
    /* Terminal Blue / Secondary */
    text-decoration-color: #A9B1D6;
    /* Foreground */
    color: #A9B1D6;
    /* Foreground / Editor Foreground */
    background-color: #1A1B26;
    /* Editor Background (Night) */
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
    /* Storm background as hover (more contrast) */
    background-color: #24283B;
    /* Editor Background (Storm) */
    outline-style: none;
}

#lock {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/utkarshkrsingh/.config/wlogout/icons/reboot.svg");
}
